<?xml version='1.0'?>

<?include $(var.ProjectDir)\config.wxs ?>

<?if $(var.Architecture) = "x86" ?>
    <?define IsWin64 = "no" ?>
    <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
    <?define PTLibName = "PTLib" ?>
    <?ifndef SSLVer ?>
        <?define SSLVer = "1_1" ?>
    <?endif?>
    <?ifndef SSLDir ?>
        <?ifdef env.OPENSSL32DIR ?>
            <?define SSLDir = "$(env.OPENSSL32DIR)" ?>
        <?else ?>
            <?define SSLDir = "" ?>
        <?endif?>
    <?endif?>
    <?ifndef LuaDir ?>
        <?ifdef env.LUA32DIR ?>
            <?define LuaDir = "$(env.LUA32DIR)" ?>
        <?else ?>
            <?define LuaDir = "" ?>
        <?endif?>
    <?endif?>
    <?ifndef V8SubDir ?>
        <?define V8SubDir = "\v8\out.gn\ia32.release" ?>
    <?endif?>
    <?ifndef FFMPEGDir ?>
        <?ifdef env.FFMPEG32DIR ?>
            <?define FFMPEGDir = "$(env.FFMPEG32DIR)" ?>
        <?else ?>
            <?define FFMPEGDir = "" ?>
        <?endif?>
    <?endif?>
    <?ifndef JPEGDir ?>
        <?ifdef env.JPEG32DIR ?>
            <?define JPEGDir = "$(env.JPEG32DIR)" ?>
        <?else ?>
            <?define JPEGDir = "" ?>
        <?endif?>
    <?endif?>
<?else?>
    <?define IsWin64 = "yes" ?>
    <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
    <?define PTLibName = "PTLib64" ?>
    <?ifndef SSLVer ?>
        <?define SSLVer = "1_1-x64" ?>
    <?endif?>
    <?ifndef SSLDir ?>
        <?ifdef env.OPENSSL64DIR ?>
            <?define SSLDir = "$(env.OPENSSL64DIR)" ?>
        <?else ?>
            <?define SSLDir = "" ?>
        <?endif?>
    <?endif?>
    <?ifndef LuaDir ?>
        <?ifdef env.LUA64DIR ?>
            <?define LuaDir = "$(env.LUA64DIR)" ?>
        <?else ?>
            <?define LuaDir = "" ?>
        <?endif?>
    <?endif?>
    <?ifndef V8SubDir ?>
        <?define V8SubDir = "\v8\out.gn\x64.release" ?>
    <?endif?>
    <?ifndef FFMPEGDir ?>
        <?ifdef env.FFMPEG64DIR ?>
            <?define FFMPEGDir = "$(env.FFMPEG64DIR)" ?>
        <?else ?>
            <?define FFMPEGDir = "" ?>
        <?endif?>
    <?endif?>
    <?ifndef JPEGDir ?>
        <?ifdef env.JPEG64DIR ?>
            <?define JPEGDir = "$(env.JPEG64DIR)" ?>
        <?else ?>
            <?define JPEGDir = "" ?>
        <?endif?>
    <?endif?>
<?endif?>

<?ifndef SSLSubDir ?>
    <?define SSLSubDir = "\bin" ?>
<?endif?>

<?ifndef V8Dir ?>
    <?ifdef env.V8_DIR ?>
        <?define V8Dir = "$(env.V8_DIR)" ?>
    <?else ?>
        <?define V8Dir = "" ?>
    <?endif?>
<?endif?>

<?ifndef FFMPEGSubDir ?>
    <?define FFMPEGSubDir = "\bin" ?>
<?endif?>
<?ifndef AVFORMATVer ?>
    <?define AVFORMATVer = "58" ?>
<?endif?>
<?ifndef AVCODECVer ?>
    <?define AVCODECVer = "58" ?>
<?endif?>
<?ifndef AVUTILVer ?>
    <?define AVUTILVer = "56" ?>
<?endif?>
<?ifndef SWRESAMPLEVer ?>
    <?define SWRESAMPLEVer = "3" ?>
<?endif?>
<?ifndef SWSCALEVer ?>
    <?define SWSCALEVer = "5" ?>
<?endif?>

<?ifndef JPEGSubDir ?>
    <?define JPEGSubDir = "\bin" ?>
<?endif?>


<?ifndef WxDir ?>
    <?ifdef env.WXDIR ?>
        <?define WxDir = "$(env.WXDIR)" ?>
    <?else ?>
        <?define WxDir = "" ?>
    <?endif?>
<?endif?>
<?if $(var.WxDir) != "" ?>
    <?ifndef WxVer ?>
        <?define WxVer = "314" ?>
    <?endif?>
    <?ifndef WxCustom ?>
        <?define WxCustom = "no" ?>
    <?endif?>
    <?if $(var.WxCustom) = "yes" ?>
        <?if $(var.Architecture) = "x86" ?>
            <?define WxPlatform  = "_custom" ?>
            <?define WxDllDir = "$(var.WxDir)\lib\vc_dll" ?>
        <?else?>
            <?define WxPlatform  = "_$(var.Architecture)_custom" ?>
            <?define WxDllDir = "$(var.WxDir)\lib\vc_$(var.Architecture)_dll" ?>
        <?endif?>
    <?else?>
        <?if $(var.Architecture) = "x86" ?>
            <?define WxPlatform  = "14x" ?>
        <?else?>
            <?define WxPlatform  = "14x_$(var.Architecture)" ?>
        <?endif?>
        <?define WxDllDir = "$(var.WxDir)\lib\vc$(var.WxPlatform)_dll" ?>
    <?endif?>
<?endif?>

<?ifndef PTLibDir ?>
    <?define PTLibDir = "$(var.ProjectDir)..\.." ?>
<?endif?>


<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>

    <Product Name='$(var.ProductName)'
             Language='1033'
             Version='$(var.ProductVersion)'
             Manufacturer='$(var.ProductManufacturer)'
             Id='*'
             UpgradeCode='$(var.ProductGUID)'>
        <Package Description='$(var.ProductName)'
                 Comments='$(var.Platform) $(var.ProductDescription), Version $(var.ProductVersion)'
                 Manufacturer='$(var.ProductManufacturer)'
                 Platform='$(var.Architecture)'
                 InstallScope="perMachine"
                 InstallerVersion='405'
                 Compressed='yes' />

        <MajorUpgrade AllowSameVersionUpgrades='yes'
                      DowngradeErrorMessage='A newer version of $(var.ProductName) is already installed.' />

        <Media Id='1'
               Cabinet='$(var.ProductBaseFilename).cab'
               EmbedCab='yes'
               DiskPrompt='CD-ROM #1' />

        <Property Id='DiskPrompt'
                  Value="$(var.ProductName) $(var.ProductVersion) Installation [1]" />
        <Property Id="INSTALLDIR">
            <RegistrySearch Id="RegistrySearch"
                            Type="raw"
                            Root="HKLM"
                            Win64="$(var.IsWin64)"
                            Key="Software\$(var.ProductManufacturer)\$(var.ProductName)"
                            Name="InstallDir" />
        </Property>
        <Property Id="WIXUI_INSTALLDIR"
                  Value="INSTALLDIR" />

        <WixVariable Id="WixUILicenseRtf" Value="$(var.PTLibDir)\tools\InstallerLicense.rtf" />
        <UIRef Id="WixUI_InstallDir" />
        <UIRef Id="WixUI_ErrorProgressText" />

        <Directory Id='TARGETDIR'
                   DiskId='1'
                   Name='SourceDir'>
            <Directory Id='$(var.PlatformProgramFilesFolder)'>
                <Directory Id='VoxLucida'
                           Name='Vox Lucida'>
                    <Directory Id='INSTALLDIR'
                               Name='$(var.ProductName)'>
                        <Component Id='MainExecutable'
                                   Win64="$(var.IsWin64)"
                                   Guid='*'>
                            <File Id='$(var.ProductBaseFilename).exe'
                                  Source='$(var.PTLibDir)\bin\$(var.ProductName)\$(var.Platform)\Release\$(var.ProductBaseFilename).exe'
                                  KeyPath='yes'>
                            </File>
                        </Component>
                        <Component Id='MainExecutableSymbols'
                                   Win64="$(var.IsWin64)"
                                   Guid='*'>
                            <File Id='$(var.ProductBaseFilename).pdb'
                                  Source='$(var.PTLibDir)\bin\$(var.ProductName)\$(var.Platform)\Release\$(var.ProductBaseFilename).pdb'
                                  KeyPath='yes'>
                            </File>
                        </Component>
                        <Component Id='PTLib'
                                   Win64="$(var.IsWin64)"
                                   Guid='*'>
                            <File Id='PTLib_DLL'
                                  Name='$(var.PTLibName).DLL'
                                  Source='$(var.PTLibDir)\lib\$(var.PTLibName).DLL'
                                  KeyPath='yes' />
                        </Component>
                        <Component Id='PTLibSymbols'
                                   Win64="$(var.IsWin64)"
                                   Guid='*'>
                            <File Id='PTLib_PDB'
                                  Name='$(var.PTLibName).PDB'
                                  Source='$(var.PTLibDir)\lib\$(var.PTLibName).PDB'
                                  KeyPath='yes' />
                        </Component>
                        <?if $(var.SSLDir) != "" ?>
                            <Component Id='OpenSSL1'
                                       Win64="$(var.IsWin64)"
                                       Guid='*'>
                                <File Id='LIBSSL_DLL'
                                      Name='LIBSSL-$(var.SSLVer).DLL'
                                      Source='$(var.SSLDir)$(var.SSLSubDir)\libssl-$(var.SSLVer).DLL'
                                      KeyPath='yes' />
                            </Component>
                            <Component Id='OpenSSL2'
                                       Win64="$(var.IsWin64)"
                                       Guid='*'>
                                <File Id='LIBCRYPTO_DLL'
                                      Name='LIBCRYPTO-$(var.SSLVer).DLL'
                                      Source='$(var.SSLDir)$(var.SSLSubDir)\libcrypto-$(var.SSLVer).DLL'
                                      KeyPath='yes' />
                            </Component>
                        <?endif?>
                        <?if $(var.LuaDir) != "" ?>
                            <Component Id='Lua'
                                       Win64="$(var.IsWin64)"
                                       Guid='*'>
                                <File Id='Lua_DLL'
                                      Name='LUA53.DLL'
                                      Source='$(var.LuaDir)\LUA53.DLL'
                                      KeyPath='yes' />
                            </Component>
                        <?endif?>
                        <?if $(var.V8Dir) != "" ?>
                            <Component Id='V8_snapshot_blob'
                                       Win64="$(var.IsWin64)"
                                       Guid='*'>
                                <File Id='V8_snapshot_blob_bin'
                                      Name='snapshot_blob.bin'
                                      Source='$(var.V8Dir)$(var.V8SubDir)\snapshot_blob.bin'
                                      KeyPath='yes' />
                            </Component>
                            <Component Id='V8_natives_blob'
                                       Win64="$(var.IsWin64)"
                                       Guid='*'>
                                <File Id='V8_natives_blob_bin'
                                      Name='natives_blob.bin'
                                      Source='$(var.V8Dir)$(var.V8SubDir)\natives_blob.bin'
                                      KeyPath='yes' />
                            </Component>
                        <?endif?>
                        <?if $(var.FFMPEGDir) != "" ?>
                            <Component Id='AVFORMAT'
                                       Win64="$(var.IsWin64)"
                                       Guid='*'>
                                <File Id='AVFORMAT_DLL'
                                      Name='AVFORMAT-$(var.AVFORMATVer).DLL'
                                      Source='$(var.FFMPEGDir)$(var.FFMPEGSubDir)\AVFORMAT-$(var.AVFORMATVer).DLL'
                                      KeyPath='yes' />
                            </Component>
                            <Component Id='AVCODEC'
                                      Win64="$(var.IsWin64)"
                                      Guid='*'>
                                <File Id='AVCODEC_DLL'
                                      Name='AVCODEC-$(var.AVCODECVer).DLL'
                                      Source='$(var.FFMPEGDir)$(var.FFMPEGSubDir)\AVCODEC-$(var.AVCODECVer).DLL'
                                      KeyPath='yes' />
                            </Component>
                            <Component Id='AVUTIL'
                                       Win64="$(var.IsWin64)"
                                       Guid='*'>
                                <File Id='AVUTIL_DLL'
                                      Name='AVUTIL-$(var.AVUTILVer).DLL'
                                      Source='$(var.FFMPEGDir)$(var.FFMPEGSubDir)\AVUTIL-$(var.AVUTILVer).DLL'
                                      KeyPath='yes' />
                            </Component>
                            <Component Id='SWRESAMPLE'
                                       Win64="$(var.IsWin64)"
                                       Guid='*'>
                                <File Id='SWRESAMPLE_DLL'
                                      Name='SWRESAMPLE-$(var.SWRESAMPLEVer).DLL'
                                      Source='$(var.FFMPEGDir)$(var.FFMPEGSubDir)\SWRESAMPLE-$(var.SWRESAMPLEVer).DLL'
                                      KeyPath='yes' />
                            </Component>
                            <Component Id='SWSCALE'
                                       Win64="$(var.IsWin64)"
                                       Guid='*'>
                                <File Id='SWSCALE_DLL'
                                      Name='SWSCALE-$(var.SWSCALEVer).DLL'
                                      Source='$(var.FFMPEGDir)$(var.FFMPEGSubDir)\SWSCALE-$(var.SWSCALEVer).DLL'
                                      KeyPath='yes' />
                            </Component>
                        <?endif?>
                        <?if $(var.JPEGDir) != "" ?>
                            <Component Id='JPEG'
                                       Win64="$(var.IsWin64)"
                                       Guid='*'>
                                <File Id='JPEG_DLL'
                                      Name='JPEG62.DLL'
                                      Source='$(var.JPEGDir)$(var.JPEGSubDir)\JPEG62.DLL'
                                      KeyPath='yes' />
                            </Component>
                        <?endif?>
                        <?if $(var.WxDir) != "" ?>
                            <Component Id='WxXRC'
                                       Win64="$(var.IsWin64)"
                                       Guid='*'>
                                <File Id='WXMSW$(var.WxVer)U_XRC_DLL'
                                      Name='WXMSW$(var.WxVer)U_XRC_VC$(var.WxPlatform).DLL'
                                      Source='$(var.WxDllDir)\WXMSW$(var.WxVer)U_XRC_VC$(var.WxPlatform).DLL'
                                      KeyPath='yes' />
                            </Component>
                            <Component Id='WxHTML'
                                       Win64="$(var.IsWin64)"
                                       Guid='*'>
                                <File Id='WXMSW$(var.WxVer)U_HTML_DLL'
                                      Name='WXMSW$(var.WxVer)U_HTML_VC$(var.WxPlatform).DLL'
                                      Source='$(var.WxDllDir)\WXMSW$(var.WxVer)U_HTML_VC$(var.WxPlatform).DLL'
                                      KeyPath='yes' />
                            </Component>
                            <Component Id='WxADV'
                                       Win64="$(var.IsWin64)"
                                       Guid='*'>
                                <File Id='WXMSW$(var.WxVer)U_ADV_DLL'
                                      Name='WXMSW$(var.WxVer)U_ADV_VC$(var.WxPlatform).DLL'
                                      Source='$(var.WxDllDir)\WXMSW$(var.WxVer)U_ADV_VC$(var.WxPlatform).DLL'
                                      KeyPath='yes' />
                            </Component>
                            <Component Id='WxCore'
                                       Win64="$(var.IsWin64)"
                                       Guid='*'>
                                <File Id='WXMSW$(var.WxVer)U_CORE_DLL'
                                      Name='WXMSW$(var.WxVer)U_CORE_VC$(var.WxPlatform).DLL'
                                      Source='$(var.WxDllDir)\WXMSW$(var.WxVer)U_CORE_VC$(var.WxPlatform).DLL'
                                      KeyPath='yes' />
                            </Component>
                            <Component Id='WxXML'
                                       Win64="$(var.IsWin64)"
                                       Guid='*'>
                                <File Id='WXBASE$(var.WxVer)U_XML_DLL'
                                      Name='WXBASE$(var.WxVer)U_XML_VC$(var.WxPlatform).DLL'
                                      Source='$(var.WxDllDir)\WXBASE$(var.WxVer)U_XML_VC$(var.WxPlatform).DLL'
                                      KeyPath='yes' />
                            </Component>
                            <Component Id='WxBase'
                                       Win64="$(var.IsWin64)"
                                       Guid='*'>
                                <File Id='WXBASE$(var.WxVer)U_DLL'
                                      Name='WXBASE$(var.WxVer)U_VC$(var.WxPlatform).DLL'
                                      Source='$(var.WxDllDir)\WXBASE$(var.WxVer)U_VC$(var.WxPlatform).DLL'
                                      KeyPath='yes' />
                            </Component>
                        <?endif?>
                    </Directory>
                </Directory>
            </Directory>

            <Directory Id="ProgramMenuFolder"
                        Name="Programs">
                <Directory Id="ApplicationProgramMenuFolder"
                           Name="$(var.ProductName)" />
            </Directory>
        </Directory>

        <?ifndef CustomProgramMenuFolder ?>
            <DirectoryRef Id="ApplicationProgramMenuFolder">
                <Component Id="ApplicationProgramMenuShortcut"
                           Guid="54704C8B-7822-4E06-AC20-26569F5700D1">
                    <Shortcut Id="ApplicationProgramMenuShortcutMain"
                              Name="$(var.ProductName)"
                              Description="Execute $(var.ProductName)"
                              Target="[INSTALLDIR]$(var.ProductBaseFilename).exe"
                              WorkingDirectory="INSTALLDIR"
                              Icon="$(var.ProductBaseFilename).ico"
                              IconIndex="0"/>
                    <RemoveFolder Id='ApplicationProgramMenuFolder'
                                    On='uninstall' />
                    <RegistryValue Root='HKCU'
                                    Key='Software\[Manufacturer]\[ProductName]'
                                    Type='string'
                                    Value=''
                                    KeyPath='yes' />
                </Component>
            </DirectoryRef>
        <?endif?>
        
        <Icon Id="$(var.ProductBaseFilename).ico"
              SourceFile=".\$(var.ProductBaseFilename).ico" />

        <Feature Id='Complete'
                 Title='$(var.ProductName)'
                 Description='Full install'
                 Display='expand'
                 ConfigurableDirectory='INSTALLDIR'
                 Level='1'>
            <ComponentRef Id='MainExecutable' />
            <ComponentRef Id='MainExecutableSymbols' />
            <ComponentRef Id='ApplicationProgramMenuShortcut' />
        </Feature>
        
        <?ifdef CustomWXS ?>
            <?include $(var.CustomWXS) ?>
        <?endif?>

        <Feature Id='PTLib'
                 Title="Portable Tools Library"
                 AllowAdvertise="no"
                 Display="hidden"
                 Level='1'>
            <ComponentRef Id='PTLib' />
            <ComponentRef Id='PTLibSymbols' />
            <?if $(var.SSLDir) != "" ?>
                <ComponentRef Id='OpenSSL1' />
                <ComponentRef Id='OpenSSL2' />
            <?endif?>
            <?if $(var.LuaDir) != "" ?>
                <ComponentRef Id='Lua' />
            <?endif?>
            <?if $(var.V8Dir) != "" ?>
                <ComponentRef Id='V8_snapshot_blob' />
                <ComponentRef Id='V8_natives_blob' />
            <?endif?>
            <?if $(var.FFMPEGDir) != "" ?>
                <ComponentRef Id='AVFORMAT' />
                <ComponentRef Id='AVCODEC' />
                <ComponentRef Id='AVUTIL' />
                <ComponentRef Id='SWRESAMPLE' />
                <ComponentRef Id='SWSCALE' />
            <?endif?>
            <?if $(var.JPEGDir) != "" ?>
                <ComponentRef Id='JPEG' />
            <?endif?>
        </Feature>

        <?if $(var.WxDir) != "" ?>
            <Feature Id='WxWidgets'
                     Title="wxWidgets library"
                     AllowAdvertise="no"
                     Display="hidden"
                     Level='1'>
                <ComponentRef Id='WxBase' />
                <ComponentRef Id='WxXML' />
                <ComponentRef Id='WxCore' />
                <ComponentRef Id='WxADV' />
                <ComponentRef Id='WxHTML' />
                <ComponentRef Id='WxXRC' />
            </Feature>
        <?endif?>

        <Feature Id="VCRedist"
                 Title="Microsoft C++ Run Time Libraries"
                 AllowAdvertise="no"
                 Display="hidden"
                 Level="1">
            <MergeRef Id="VCRedist"/>
        </Feature>

        <DirectoryRef Id="TARGETDIR">
            <Merge Id="VCRedist"
                   SourceFile="$(env.ProgramW6432)\Common Files\Merge Modules\Microsoft_VC$(var.MSVCRT_VER)_CRT_$(var.Architecture).msm"
                   DiskId="1"
                   Language="0"/>
        </DirectoryRef>
    </Product>
</Wix>
